html{
  background: #121212;
  color: #fff;
}

button{
  color: #fff;
  background: none;
  box-shadow: none;
  border-color: transparent;
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background: #232323;
    -webkit-box-shadow: 0 10px 6px -6px #000;
    -moz-box-shadow: 0 10px 6px -6px #000;
    box-shadow: 0 10px 6px -6px #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.uk-grid.slide{
  margin-right: -300px;
}

.uk-grid.slide-cover{
  margin-right: -50px;
}

.uk-navbar-left, .uk-navbar-right, [class*=uk-navbar-center]{
  row-gap: 15px;
  column-gap: 15px;
}

.uk-dotnav>*>*{
  background-color: #232323;
  border-color: #232323;
}

.uk-dotnav>.uk-active>*{
  background-color: #BB86fc;
}

.uk-offcanvas-bar{
  background: #121212;
}

.uk-subnav-pill>.uk-active>a{
  background: #BB86fc;
}

.uk-subnav-pill>*>:first-child{
  border-radius: 5px;
}

.material-symbols-outlined.sideMenu{
  color: #BB86fc;
}

.bar-title{
  font-size: 1.2rem;
}

.cover{
  border-radius: 15px;
}

.error-image{
  width: 250px;
}

.menu-text{
  font-size: 20px;
}

.logo{
  width: 150px;
}