html{
  background: #121212;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

h1{
  color: #fff;
}

button{
  color: #fff;
  background: none;
  box-shadow: none;
  border-color: transparent;
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background: #232323;
    -webkit-box-shadow: 0 10px 6px 0px #000;
    -moz-box-shadow: 0 10px 6px 0px #000;
    box-shadow: 0 10px 6px 0px #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.uk-grid.slide{
  margin-right: -300px;
}

.uk-grid.slide-cover{
  margin-right: -50px;
}

.uk-navbar-left, .uk-navbar-right, [class*=uk-navbar-center]{
  row-gap: 15px;
  column-gap: 15px;
}

.uk-dotnav>*>*{
  background-color: #232323;
  border-color: #232323;
}

.uk-dotnav>.uk-active>*{
  background-color: #BB86fc;
}

.uk-subnav{
  flex-wrap: nowrap;
  overflow-y: scroll;
  overflow-x: scroll;
}

.uk-subnav-pill>.uk-active>a{
  color: #121212;
  font-weight: bold;
}

.uk-offcanvas-bar{
  background: #121212;
}

.uk-subnav-pill>.uk-active>a{
  background: #BB86fc;
}

.uk-subnav-pill>*>:first-child{
  border-radius: 5px;
}

.uk-overlay-primary{
  background:  rgba(34,34,34,.6) !important;
}

.uk-button.menu{
  padding-left: 0px;
  padding-right: 0px;
  line-height: 1;
}

.uk-icon{
  vertical-align: bottom;
}

.material-symbols-outlined.sideMenu{
  color: #BB86fc;
}

.material-symbols-outlined.game{
  line-height: 1;
}

.material-symbols-outlined.checked{
  color: #BB86fc;
}

.material-icons.checked{
  color: #BB86fc;
}

.bar-title{
  font-size: 1.2rem;
}

.cover{
  border-radius: 15px;
}

.error-image{
  width: 250px;
}

.menu-text{
  font-size: 20px;
}

.logo{
  width: 150px;
}

.game-logo{
  width: 250px;
}

.game-title-text{
  font-size: 1.1rem;
}

.game-sinopsis{
  font-size: .8rem;
  font-style: italic;
}

.play-btn{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background: #BB86fc;
  color: #121212;
  padding-top: 5px;
  padding-bottom: 5px;
}

.checked{
  color: #BB86fc;
}

.game-box{
  width: 100px;
}



